@import "../../../css/_vars.css";

.site-header {

    @media(--lg-viewport) {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto auto;
        box-shadow: var(--box-shadow);
    }

    & .site-branding {
        display: flex;

        @media(--lg-viewport) {
            grid-row: 1/2;
            grid-column: 1/1;
        }

        & .custom-logo-link{
            line-height: 1;
            display: inline-block;
        }

        & img {
            height: 57px;
            display: block;
            background-color: #FF0050;

            @media(--lg-viewport) {
                height: 80px;
            }
        }

        & .site-title {
            font-size: 2rem;
            margin: 0;
            display: inline-block;
            padding: 0 .5rem;
            line-height: 57px;

            @media(--lg-viewport) {
                line-height: 1;
                font-size: 2.5rem;
                padding: 1rem .5rem;
            }
        }
    }

    & .main-navigation {
        @media(--lg-viewport) {
            grid-row: 1/2;
            grid-column: 2/2;
            padding: 1rem;
        }
    }

    & .site-description {
        background-color: #FF457F;
        margin: 0;
        padding: 1rem;
        line-height: 1;

        @media(--lg-viewport) {
            grid-row: 2/2;
            grid-column: 1/3;
        }
    }
}