@import "../../../css/_vars.css";

.site {
    @media(--lg-viewport) {
        grid-template-rows: var(--small-header-height) auto 100px;
    }
}

.site-header {
    @media(--lg-viewport) {
        display: grid;
        grid-template-columns: 3fr 1fr;
        box-shadow: var(--box-shadow);
    }

    & .site-branding {
        display: flex;

        @media(--lg-viewport) {
            grid-column: 1/1;
        }

        & .custom-logo-link{
            line-height: 1;
            display: inline-block;
        }

        & img {
            height: 57px;
            display: block;
            background-color: #AA00FF;
            box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.5);

            @media(--lg-viewport) {
                height: 80px;
            }
        }

        & .site-title {
            font-size: 2rem;
            margin: 0;
            display: inline-block;
            padding: 0 .5rem;
            line-height: 57px;

            @media(--lg-viewport) {
                line-height: 1;
                font-size: 3rem;
                padding: 0 .5rem;
            }

            & a {
                text-decoration: none;
            }
        }
    }

    & .main-navigation {
        @media(--lg-viewport) {
            grid-column: 2/2;
            padding: 1rem;
        }
    }

}

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/
.main-navigation {
    position: absolute;
    top: 0;
    right: 0;

    @media(--lg-viewport) {
        position: relative;
        top: auto;
        right: auto;
        clear: both;
        display: block;
        float: left;
        width: 100%;
    }

    & ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    & ul ul {
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        float: left;
        position: absolute;
        top: 100%;
        left: -999em;
        z-index: 99999;
    }

    & ul ul ul {
        left: -999em;
        top: 0;
    }

    & ul ul li:hover > ul,
    & ul ul li.focus > ul {
        left: 100%;
    }

    & ul ul a {
        width: 200px;
    }

    & ul li:hover > ul,
    & ul li.focus > ul {
        left: auto;
    }

    & li {
        position: relative;
    }

    & a {
        display: inline-block;
        background-color: #EFE9F1;
        color: #3E005D;
        text-decoration: none;
        border: none;
        border-radius: 3px;
        position: relative;
        padding: 12px 30px;
        margin: 0 3px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0;
        will-change: box-shadow, transform;
        transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: flex;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: flex;
    }
}