@import "../../../css/_vars.css";

.site {
    @media(--lg-viewport) {
        grid-template-rows: var(--small-header-height) auto 100px;
    }
}

.site-header {
    @media(--lg-viewport) {
        display: grid;
        grid-template-columns: 1fr 3fr;
        box-shadow: var(--box-shadow);
    }

    & .site-branding {
        display: flex;
        padding: 0 0.5rem;

        @media(--lg-viewport) {
            grid-column: 1/1;
        }

        & .custom-logo-link{
            line-height: 1;
            display: inline-block;
        }

        & img {
            height: 57px;
            display: block;
            background-color: #AA00FF;

            @media(--lg-viewport) {
                height: 80px;
            }
        }

        & .site-title {
            font-size: 2rem;
            font-weight: 700;
            margin: 0;
            display: inline-block;
            padding: 0 .5rem;
            line-height: 57px;

            @media(--lg-viewport) {
                line-height: 1;
                font-size: 2.5rem;
                padding: 1rem .5rem;
            }

            & a {
                text-decoration: none;
                line-height: 1;
            }
        }
    }

    & .main-navigation {
        @media(--lg-viewport) {
            grid-column: 2/2;
            padding: 1rem;
        }
    }

}