.hentry{
  background: #f0f8ff;
}

.entry-meta, footer {
  display: block;
  background: #283593;
  color: #fafafa;
  margin: 1rem 0 0;
  padding: 0.5rem 0.5rem 0.75rem;
  font-size: 0.875rem;
}

.entry-meta a,
.entry-meta a:visited,
footer a,
footer a:visited {
  color: #f5f5f5;
}