.site-header {
    //background: #FFBB00;
}

.content-area{
    //background: #FFECB9;
}

.widget-area{
    //background: #FFD35C;
}

.site-footer {
    //background: #FFBB00;
}

a, a:visited{
    color: var(--primary);
}

a:hover{
    color: #181100;
}