@import "../../../css/_vars.css";

.site-sidebar{

  & .widget {
    overflow: auto;
    box-shadow: var(--box-shadow);
  }

  & .widget_search {
    background-color: transparent;
    box-shadow: none;

    & input {
      margin: 0;
    }

    & .search-field {
      width: calc(100% - 92px);
    }

    & label {
      padding: 0;
    }
  }
}