.site-header {
  background: #d500c9;
}

.content-area{
  background: #e5a8de;

  & .entry-content{
    max-width: 720px;
  }
}

.widget-area{
  background: #7a0b78;
}

.site-footer {
  background: #470045;
}