
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/*
  Definitions for forms and input elements.
*/
.comment-form {
  background: #ffb401;
  border: 0.0625rem solid #bdbdbd;
  border-radius: 0.1875rem;
  margin: 0.5rem;
  padding: 0.75rem 0.5rem 1.125rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2);
}

fieldset {
  border: 0.0625rem solid #e0e0e0;
  border-radius: 0.125rem;
  margin: 0.125rem;
  padding: 0.5rem;
}

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  white-space: normal;
  font-weight: 600;
  font-size: 0.875rem;
  padding: 0.125rem 0.25rem;
}

label {
  padding: 0.25rem 0.5rem;
}


[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

textarea {
  overflow: auto;
  width: 100%;
  max-width: 720px;
}

input:not([type="submit"]) {
  width: 100%;
  max-width: 720px;
}



input:not([type]), [type="text"], [type="email"], [type="number"], [type="search"],
[type="password"], [type="url"], [type="tel"], textarea, select {
  box-sizing: border-box;
  background: #fafafa;
  color: #212121;
  border: 0.0625rem solid #bdbdbd;
  border-radius: 0.125rem;
  margin: 0.25rem;
  padding: 0.5rem 0.75rem;
}

input:not([type="button"]):not([type="submit"]):not([type="reset"]):hover, input:not([type="button"]):not([type="submit"]):not([type="reset"]):focus, textarea:hover, textarea:focus, select:hover, select:focus {
  border-color: #0288d1;
  box-shadow: none;
}

input:not([type="button"]):not([type="submit"]):not([type="reset"]):invalid, input:not([type="button"]):not([type="submit"]):not([type="reset"]):focus:invalid, textarea:invalid, textarea:focus:invalid, select:invalid, select:focus:invalid {
  border-color: #d32f2f;
  box-shadow: none;
}

input:not([type="button"]):not([type="submit"]):not([type="reset"])[readonly], textarea[readonly], select[readonly] {
  background: #e0e0e0;
  border-color: #bdbdbd;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #616161;
}

::-moz-placeholder {
  opacity: 1;
  color: #616161;
}

::-ms-placeholder {
  opacity: 1;
  color: #616161;
}

::placeholder {
  opacity: 1;
  color: #616161;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button {
  overflow: visible;
  text-transform: none;
}

button, [type="button"], [type="submit"], [type="reset"],
a.button, label.button, .button,
a[role="button"], label[role="button"], [role="button"] {
  display: inline-block;
  background: #e0e0e0;
  color: #212121;
  border: 0;
  border-radius: 0.1875rem;
  padding: 0.625rem 0.875rem;
  margin: 0.5rem;
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: background 0.3s;
  cursor: pointer;
}

button:hover, button:focus, [type="button"]:hover, [type="button"]:focus, [type="submit"]:hover, [type="submit"]:focus, [type="reset"]:hover, [type="reset"]:focus,
a.button:hover,
a.button:focus, label.button:hover, label.button:focus, .button:hover, .button:focus,
a[role="button"]:hover,
a[role="button"]:focus, label[role="button"]:hover, label[role="button"]:focus, [role="button"]:hover, [role="button"]:focus {
  background: #e0e0e0;
  opacity: 1;
}

input:disabled, input[disabled], textarea:disabled, textarea[disabled], select:disabled, select[disabled], button:disabled, button[disabled], .button:disabled, .button[disabled], [role="button"]:disabled, [role="button"][disabled] {
  cursor: not-allowed;
  opacity: 0.75;
}

input[type="file"] {
  border: 0;
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

[type="checkbox"], [type="radio"] {
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.input-group [type="checkbox"] + label, .input-group [type="radio"] + label {
  position: relative;
  margin-left: 1.25rem;
  cursor: pointer;
}

.input-group [type="checkbox"] + label:before, .input-group [type="radio"] + label:before {
  display: inline-block;
  position: absolute;
  bottom: 0.375rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  content: '';
  border: 0.0625rem solid #bdbdbd;
  border-radius: 0.125rem;
  background: #fafafa;
  color: #212121;
  margin-left: -1.25rem;
}


/*
  Custom elements for forms and input elements.
*/
button.primary, [type="button"].primary, [type="submit"].primary,
[type="reset"].primary, .button.primary, [role="button"].primary {
  background: #303f9f;
  color: #fafafa;
}

button.primary:hover, button.primary:focus, [type="button"].primary:hover, [type="button"].primary:focus, [type="submit"].primary:hover, [type="submit"].primary:focus,
[type="reset"].primary:hover,
[type="reset"].primary:focus, .button.primary:hover, .button.primary:focus, [role="button"].primary:hover, [role="button"].primary:focus {
  background: #303f9f;
}

/*
  Custom style fixes and tweaks for input elements.
*/
button, [type="button"], [type="submit"], [type="reset"],
a.button, label.button, .button,
a[role="button"], label[role="button"], [role="button"], label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
}

button:hover, button:focus, [type="button"]:hover, [type="button"]:focus, [type="submit"]:hover, [type="submit"]:focus, [type="reset"]:hover, [type="reset"]:focus,
a.button:hover,
a.button:focus, label.button:hover, label.button:focus, .button:hover, .button:focus,
a[role="button"]:hover,
a[role="button"]:focus, label[role="button"]:hover, label[role="button"]:focus, [role="button"]:hover, [role="button"]:focus {
  background: #e5e5e5;
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.4375rem 0 rgba(0, 0, 0, 0.12), 0 0.1875rem 0.0625rem -0.0625rem rgba(0, 0, 0, 0.2);
}

button.primary:hover, button.primary:focus, [type="button"].primary:hover, [type="button"].primary:focus, [type="submit"].primary:hover, [type="submit"].primary:focus,
[type="reset"].primary:hover,
[type="reset"].primary:focus, .button.primary:hover, .button.primary:focus, [role="button"].primary:hover, [role="button"].primary:focus {
  background: #3f51b5;
}
