@import "./_vars.css";
/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5rem;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1rem 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5rem;
}