@import "./_vars.css";

.site {
    max-width: var(--max-width);
    margin: 0 auto;

    @media(--lg-viewport) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: var(--large-header-height) auto var(--footer-height);
        grid-template-areas:
                "header header header header"
                "content content content content"
                "footer footer footer footer";
    }
}

.site-header {
    grid-area: header;
    background: aquamarine;
}

.site-content {
    max-width: var(--max-width);

    @media(--lg-viewport) {
        grid-area: content;
        display: grid;
        grid-template-columns: 4fr 2fr;
        margin-top: 1rem;
        box-shadow: var(--box-shadow);
    }
}

.content-area{
    background: darkcyan;
    padding: 1rem;

    @media(--lg-viewport) {
        grid-column: 1 / 2;
        grid-row: 1;
    }
}

.widget-area{

    background: darkturquoise;
    padding: 1rem;

    @media(--lg-viewport) {
        grid-column: 2 / 2;
        grid-row: 1;
    }
}

.site-footer {
    background: mediumaquamarine;
    padding: 1rem;

    @media(--lg-viewport) {
        grid-area: footer;
    }
}