.site {
    width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px auto 100px;
    grid-template-areas:
            "header header header header"
            "content content content content"
            "footer footer footer footer";

}

.site-header {
    grid-area: header;
    background: aquamarine;
}

.site-content{
    grid-area: content;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas:
            "main  sidebar"

}

.content-area{
    grid-area: main;
    background: darkcyan;
}

.widget-area{
    grid-area: sidebar;
    background: darkturquoise;
}

.site-footer {
    grid-area: footer;
    background: mediumaquamarine;
}