:root {

    --white: #F5F7EF;
    --light-accent: #E7DFC6;
    --primary: #00fff9;
    --dark-accent: #4D4847;
    --text: #1B1E2B;

    --titleFont: Arial, sans-serif;
    --titleFontLoaded: "Roboto Slab";

    --gutter-width: 1rem;
    --outer-margin: 2rem;

    --large-header-height: auto;
    --small-header-height: auto;
    --footer-height: 64px;

    --max-width: 1200px;

    --box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, .14), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, .12), 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, .2);

}

@custom-media --max-xs-viewport (max-width: 500px);
@custom-media --xs-viewport (min-width: 500px);
@custom-media --sm-viewport (min-width: 768px);
@custom-media --md-viewport (min-width: 1024px);
@custom-media --lg-viewport (min-width: 1200px);
@custom-media --xl-viewport (min-width: 1400px);
