.hentry{

}

.entry-meta, footer {
  display: block;
  background: #24c8c1;
  color: #fafafa;
  margin: 1rem 0 0;
  padding: 0.5rem 0.5rem 0.75rem;
  font-size: 0.875rem;
}

.entry-meta a,
.entry-meta a:visited,
footer a,
footer a:visited {

}

.entry-meta a:hover,
footer a:hover {

}